<div class=" cont1">
    <div class="row col-lg-12">

        <div class="col-lg-1 icons">
            <a href=""><img src="https://cdn-icons-png.flaticon.com/512/2626/2626923.png" style="height:1cm ;" alt=""></a><br><br>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/512/2354/2354551.png" style="height:1cm ;" alt=""></a><br><br>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/512/893/893220.png" style="height:1cm ;" alt=""></a>
        </div>


        <div class="col-lg-3">
            <div class="card" style="height: max-content;">
                <div class="card-body">
                  <h6 class="card-text">BALANCE DETAILS</h6>
                  <p class="card-text num">$ 2,47,444.00</p>
                  <small>3.444444 BTC</small><br><br>
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                         <h6>$3,44,555.00</h6>
                         <small>Income</small>
                        </div>
                        <div class="col-lg-6">
                        <h6>$3,44,555.00</h6>
                        <small>Income</small>  
                        </div>
                    </div><br>
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <button class="btn btn-light btn-outline-dark lead" style="width:100%;" type="submit">RECEIVE</button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-light  btn-outline-dark lead" style="width:100%;" type="submit">SEND</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>



        <div class="col-lg-3">
            <h5 id="fee">FEES</h5>
            <div class="card card2" style="width: max-content;;height: max-content;">
                <div class="card-body">
                    <h4>0.069%</h4>
                    <p>MAKER</p>
                </div>
            </div><br>
            <div class="card card2" style="width:max-content;height: max-content;">
                <div class="card-body">
                    <h4>0.075%</h4>
                    <p>TAKER</p>
                </div>
            </div>


        </div>


        <div class="col-lg-4 third">
            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <h5>WALLETS</h5>
                </div>
                <div class="col-lg-6">
                    <h5>VIEW ALL</h5>
                </div>
            </div>
            <br>

            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1490/1490900.png" style="height:1cm;" alt=""></a>
                        </div>
                        <div class="col-lg-6">
                            <h6>BTC</h6>
                            <p>Bitcoin</p>
                            
                        </div>
                    </div>
                
                </div>
                
                <div class="col-lg-6 value">
                    <h5>37%</h5>
                    <p>-2.5%</p>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/7016/7016523.png" style="height:1cm;" alt=""></a>
                        </div>
                        <div class="col-lg-6">
                            <h6>ETH</h6>
                            <p>Ethereum</p>
                            
                        </div>
                    </div>
                
                </div>
                
                <div class="col-lg-6 value">
                    <h5>23%</h5>
                    <p>+7.2%</p>
                </div>
            </div>

            

            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/6001/6001527.png" style="height:1cm;" alt=""></a>
                        </div>
                        <div class="col-lg-6">
                            <h6>SOL</h6>
                            <p>Solana</p>
                            
                        </div>
                    </div>
                
                </div>
                
                <div class="col-lg-6 value">
                    <h5>37%</h5>
                    <p>-2.5%</p>
                </div>
            </div>

        </div>

    </div>



</div>
