
<div class="cont">
<div class="row col-lg-12">
    <div class="col-lg-2 ">
        <a href="#" ><img src="https://cdn-icons-png.flaticon.com/512/3032/3032276.png" style="height:1.3cm ;" id="add" alt=""></a>
    </div>
    <div class="col-lg-6">
        <div class="row col-lg-12 header">
            <div class="col-lg-6">
                <h6>TRANSACTIONS</h6>
            </div>
            <div class="col-lg-6">
                <h6>VIEW ALL</h6>
            </div>
        </div>
<br>
        <div class="row col-lg-12">
            <div class="col-lg-6">
                <div class="row col-lg-12">
                    <div class="col-lg-2">
                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/6364/6364328.png" style="height:1cm;" alt=""></a>
                    </div>
                    <div class="col-lg-6">
                        <h6>Received BTC</h6>
                        <p>2 June,2022</p>
                        
                    </div>
                </div>
            
            </div>
            
            <div class="col-lg-6">
                <h5><span style="color:rgb(211, 67, 67) ;">+$1,045.00</span></h5>
                
            </div>
        </div>

        <div class="row col-lg-12">
            <div class="col-lg-6">
                <div class="row col-lg-12">
                    <div class="col-lg-2">
                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/7512/7512870.png" style="height:1cm;" alt=""></a>
                    </div>
                    <div class="col-lg-6">
                        <h6>Sent SOL</h6>
                        <p>2 June,2022</p>
                        
                    </div>
                </div>
            
            </div>
            
            <div class="col-lg-6">
                <h5 style="color: rgb(97, 123, 188);">-$3,245.00</h5>
                
            </div>
        </div>

        <div class="row col-lg-12">
            <div class="col-lg-6">
                <div class="row col-lg-12">
                    <div class="col-lg-2">
                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/6364/6364328.png" style="height:1cm;" alt=""></a>
                    </div>
                    <div class="col-lg-6">
                        <h6>Received XRP</h6>
                        <p>2 June,2022</p>
                        
                    </div>
                </div>
            
            </div>
            
            <div class="col-lg-6">
                <h5 style="color: rgb(207, 59, 59);">+$3,458.00</h5>
                
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="row col-lg-12">
            <div class="col-lg-6">
                <h6 class="header">SECURITY</h6>
            </div>
            <div class="col-lg-6">
                <h6 class="header">VIEW ALL</h6>
            </div>
        </div>

        <div>
            <div class="card">
                <div class="card-body">
                    <h5 >Identity</h5>
                    <p class="text-muted">Disable</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5>Phone</h5>
                    <p class="text-muted">Disable</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>