<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="first" href="#"><img src="https://cdn-icons-png.flaticon.com/512/551/551237.png" style="height: .9cm;" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sec" href="#"><img src="https://cdn-icons-png.flaticon.com/512/1289/1289475.png" style="height: .9cm;" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="third" href="#"><img src="https://cdn-icons-png.flaticon.com/512/900/900834.png" style="height: .9cm;" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="fourth" href="#"><img src="https://cdn-icons-png.flaticon.com/512/3899/3899618.png" style="height: 1.5cm;" alt=""></a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>