.navbar-nav{
   margin-left: 67%;
   padding: .2cm;

}
#first{
    margin-top: .3cm;
}
#sec{
    margin-left: 1.5cm;
    margin-top: .3cm;
}
#third{
    margin-left: 1.5cm;
    margin-top: .3cm;
}
#fourth{
    margin-left: 1.5cm;
    
}